markdown2
Markdown==3.4.4
openai==0.27.8
supabase==1.0.3
fastapi==0.95.2
uvicorn==0.22.0
pypandoc==1.11
asyncpg==0.27.0
pyright==1.1.316
bs4==0.0.1
xlrd==1.0.0
duckduckgo_search==3.9.3
PyPDF2
webdriver_manager
selenium
selenium-wire
md2pdf
pymupdf